################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dockerapp/.vs/dockerapp/v16/Server/sqlite3/db.lock
